# Игнорировать папку .vs (Visual Studio)
.vs/

# Игнорировать файлы предкомпилированных заголовков
*.ipch
*.pch

# Игнорировать временные файлы
*.tmp
*.temp

# Игнорировать папки сборки
Debug/
Release/
x64/
x86/
bin/
obj/

# Игнорировать файлы пользователя
*.user
*.suo
*.userosscache
*.sln.docstates